@import "tailwindcss";


.pricecon h1{
    font-family: Roboto-Light, Helvetica, Arial, sans-serif;
    font-size: 1rem;
}


.paddycon{
    padding: 1rem
}

.paddy{
    padding: 0.5rem
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media screen and (max-width:500px){
    .padit{
        
        padding:0.5rem
    }
}

@keyframes glassShine {
  0% {
    transform: translateY(-40%);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    transform: translateY(120%);
    opacity: 0;
  }
}

.animate-glassShine {
  animation: glassShine 6s ease-in-out infinite;
}
