@import "tailwindcss";


.pricecon h1{
    font-family: Roboto-Light, Helvetica, Arial, sans-serif;
    font-size: 1rem;
}


.paddy{
    padding: 0.5rem
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media screen and (max-width:500px){
    .padit{
        
        padding:0.5rem
    }
}