@import "tailwindcss";


.pricecon h1{
    font-family: Roboto-Light, Helvetica, Arial, sans-serif;
    font-size: 1rem;
}


.paddy{
    padding: 0.5rem
}

@media screen and (max-width:500px){
    .padit{
        
        padding:0.5rem
    }
}